<!DOCTYPE html>
<html lang="ch">
<head>
    <title>DAMx Music</title>
    <meta charset="UTF-8">
    <meta name="description" content="DAMx Music：专注于音乐资源分享！">
    <meta name="keywords" content="音乐,国语,英文,流行">
    <meta name="author" content="Zahi">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <link rel="icon" href="../static/img/icon.png" type="image/png">
</head>
<body>
    <!-- Header -->
        <header id="header" class="alt">
            <div class="logo"><a href="home">DAMx <span>Music</span></a></div>
            <a href="#menu">Menu</a>
        </header>
    <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="home">Home</a></li>
                <li><a href="chinese">中文音乐</a></li>
                <li><a href="foreign">外国音乐</a></li>
            </ul>
        </nav>

    <!-- Banner -->
        <section class="banner full">
            <article>
                <img src="../static/img/slide01.jpg" alt="" />    <!--1920*969-->
                <div class="inner">
                    <header>
                        <p>A free music sharing web site by Zahi for DAM</p>
                        <h2>DAMx Music</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="../static/img/slide02.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>A free music sharing web site by Zahi for DAM</p>
                        <h2>DAMx Music</h2>
                    </header>
                </div>
            </article>
            <article>
                <img src="../static/img/slide03.jpg" alt="" />
                <div class="inner">
                    <header>
                        <p>A free music sharing web site by Zahi for DAM</p>
                        <h2>DAMx Music</h2>
                    </header>
                </div>
            </article>
        </section>


    <!-- Scripts -->
    <!--背景滚动效果和菜单栏-->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.scrollex.min.js"></script>
    <script src="../static/assets/js/skel.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <!--main-->
    <script src="../static/assets/js/main.js"></script>

</body>
</html>